body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: url(../img/legumes-fond.svg);
  padding: 30px;
  font-family: 'Quattrocento';
  margin-bottom: 0px;
  border-top: #7db96f;
  border-width: 50px;
}

h1 { 
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.box-title {
  font-family: 'sriracha';
  color: #7db96f;
  background: #ffffff;
  padding: 10px 55px;
  margin-bottom: 25px;
}

.slogan {
  font-family: 'Quattrocento';
  font-size: 20px;
  text-align: center;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'maven pro';
  font-size: 20px;
}

.nav {
  background: #7db96f;
  color: #ffffff;
  margin: 10px;
  Padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
}

.nav-white {
  color: #7db96f;
  background: #ffffff;
}

main {
  margin-top: 0px;
}

.section {
  text-align: center;
  margin-top: none;
  padding: 60px;

}

.section-white {
  background: #ffffff;
}

h2 {
  font-family: 'maven pro';
  font-size: 26px;
}

p {
  font-family: quattrocento;
  font-size: 16px;
}

.fruit {
  display: flex;
  max-width: 30px;
}

.section-green {
  background:#7db96f;
  color: #ffffff;
}

.h2-green {
  font-size: 26px;
  font-family: 'maven pro';
  margin-top: 2px;
}

.carte{
  color: #000000;
  border-radius: 30px;
  padding: 30px;
  text-align: left;
  margin-top: 30px;
}

h3 {
  font-family: 'Sriracha';
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.p-carte {
  font-size: 16px;
  font-family: 'Quattrocento';
  margin-top: 0px;
  color:#000000;
}

.ensavoirplus {
  color: #000000;
  font-size: 14px;
  font-family: 'maven pro';
  margin-top: 50px;
  font-weight: bold;
}

.fruit-carte {
  max-width: 70px;
}

.carte-banane {
  background: #fcf7d6;
}

.carte-kiwi {
  background: #d0f1ae;
}

.carte-café {
  background: #cdc4b0;
}

.carte-fraise {
  background: #e2a2b1;
}





